<div class="contact-list">


  <form class="addContact" (ngSubmit)='AddContact()'>
    <input type="text" class="patientFirstName" name="patientFirstName" placeholder="New patient first name">
    <input type="text" class="patientLastName" name="patientLastName" placeholder="New patient last name">
    <input type="email"  name="patientEmail" [(ngModel)]="patientEmail" placeholder="New patient email address">
    <input type="text" class="patientSkype" name="patientSkype" placeholder="New patient skype username">
    <button type="submit" class="btn btn-success">Save</button>
  </form>



  <div class="table-scroll">
    <table class="table">
      <tr *ngFor="let contact of contacts">
        <div class="tableElement">
          <span>
            <td>{{contact.firstname}}</td>
            <td>{{contact.lastname}}</td>
            <td>{{contact.skype}}</td>
            <div class="icon">
              <button class="fa fa-phone" (click)='callOnSkype()'></button>
            </div>
          </span>
        </div>
      </tr>
    </table>
  </div>

</div>