<div style="margin-left:15px;">
	<h5 style="font-weight:bold;">Doctor Dashboard</h5>
</div>
<hr style="margin:15px;">
<app-contact-list></app-contact-list>
<hr style="margin:15px;">
<div class="Doctor_PatientProfile" style="display:flex;">
  <app-patient-descrip></app-patient-descrip>
</div>
<div class="Doctor_PatientProfile" style="display:flex; flex-wrap: wrap">
    <app-notes ></app-notes>
    <app-skype></app-skype>
    <app-reminders ></app-reminders>
    <app-calendar style="margin-bottom:15px;"></app-calendar>
</div>