<div class="contact-list" style="padding: 15px;">
  <h5>Patient List</h5>

  <button (click)="show = !show" type="submit" class="btn btn-success">{{show ? 'Hide new patient form' : 'Add a new Patient'}}</button>
  <div [hidden]="!show">
    <form class="addContact" #contactForm="ngForm" (ngSubmit)='addContact()'>
      <input id="firstname" type="text" class="patientFirstName validate" name="patientFirstName" [(ngModel)]="patientFirstName" maxlength="15" placeholder="New patient first name" required>
      <input id="lastname" type="text" class="patientLastName validate" name="patientLastName" [(ngModel)]="patientLastName" maxlength="15" placeholder="New patient last name" required>
      <input id="email" type="email" class="validate" name="email" [(ngModel)]="patientEmail" maxlength="25" placeholder="New patient email address" required>
      <small *ngIf="patientEmail && !validateEmail()" style="color:red; margin-top: 0px;">
          Incorrect Email Format
      </small>
      <input id="skype" type="text" class="patientSkype validate" name="patientSkype" [(ngModel)]="patientSkype" maxlength="25" placeholder="New patient skype username" required>
      <input id="description" type="text" class="patientDescription validate" name="patientDescription" [(ngModel)]="patientDescription" maxlength="300" placeholder="Short description of the patient's condition..." required>
      <button type="submit" style="background-color:#ffb300;" [disabled]="!(contactForm.valid) || !validateEmail()" class="btn btn-success">Add patient</button>
    </form>
  </div>
  <div class="row" style="margin-top: 50px; margin-bottom: 0px;">
    <div class="input-field col s12">
      <i class="material-icons prefix">search</i>
      <input type="text" name="search" id="search" [(ngModel)]="searchTerm" class="validate"> 
      <label class="label" for="search">Search Patients</label>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Skype Username</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-option" *ngFor="let contact of contacts | filter:searchTerm; let i = index" 
        onclick=
        "function cl () {
          setTimeout(function() {
            SkypeWebControl.SDK.start();
          }, 200);
        };
        cl();" 
        (click)="setClickedRow(i)" [class.active]="i == selectedRow">
            <td>{{contact.firstname}}</td>
            <td>{{contact.lastname}}</td>
            <td>{{contact.skype}}</td>
        </tr>
    </tbody>
  </table>
</div>
