<br/>
<div *ngIf="isSet" class="row">
  <form class="col s12" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">email</i>
        <input id="disabled" type="email" class="validate" value="{{user.email}}" disabled>
        <label for="disabled">Email</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">local_phone</i>
        <input id="skype" type="text" class="validate" required value="user.skype" [(ngModel)]="user.skype" name="skype">
        <label for="skype">Skype</label>
      </div>
    </div>
  	<div class="row">
    	<div class="input-field col s6">
        <i class="material-icons prefix">person</i>
      	<input id="firstname" type="text" class="validate" value="user.firstname" [(ngModel)]="user.firstname" name="firstname" required>
        <label for="firstname">First Name</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">perm_identity</i>
        <input id="last_name" type="text" class="validate" value="user.lastname" [(ngModel)]="user.lastname" name="lastname" required>
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">local_hospital</i>
        <select materialize="material_select" [(ngModel)]="user.hospital_id" value="user.hospital" name="hospital" id="hospital" disabled>
          <option value="disabled" disabled selected>
            {{user.hospital}}
          </option>
          <option *ngFor="let hospital of hospitals" [value]="hospital.id">
            {{hospital.name}}
          </option>
        </select>
        <label for="hospital">Hospital</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">contacts</i>
        <select materialize="material_select" [(ngModel)]="user.user_type"  name="type" id="type" disabled>
          <option value="disabled" disabled selected>
            {{user.user_type}}
          </option>
        </select>
        <label for="type">User Type</label>
      </div>
      <div class="input-field col s6" *ngIf="user.user_type === 'doctor'">
        <i class="material-icons prefix">healing</i>
        <select materialize="material_select" [(ngModel)]="user.specialty" name="specialty" disabled>
          <option value="disabled" disabled selected>{{user.specialty}}</option>
          <option *ngFor="let specialty of specialties" [ngValue]="specialty.id">{{specialty.name}}</option>
        </select>
        <label>Specialty</label>
      </div>
    </div>

    <button type="submit" class="waves-effect waves-light btn blue right">
      Submit
    </button>
  </form>
<!--   <div class="row">
   <a [routerLink]="['/change-password']">Change Password</a>
  </div> -->
</div>

