<h3>About</h3>
<p>
  Housecall is a web application that uses state-of-the-art technology to connect caretakers with doctors in order to ensure a healthy recovery for non-critical care patients. 
</p>


<h3>Use</h3>
<p>
	For Doctors: Register for our application by signing up!
</p>
<p>
	For Patients: You should receive an email link with information about logging into a temporary account. If you have not received this link, please contact your primary care provider to set one up.  
</p>

<h3>Reviews</h3>
<p>
	"Wow! What a fantastic application" - Anonymous
</p>
