<h4>
  Hi <%= @user.firstname %>! 
</h4>

<p>
  Please login to Housecall using your email address (<%= @user.email%>) and the following password: <strong><%= @password %></strong>
</p>

<a href="http://localhost:4200">Housecall login page</a>