h3 {
    margin: 0 0 10px;
    font-size: 2rem;
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
}

#app-calendar {
    margin-left: 1%;
    width: 100%;
}

#calendar {
    width: 55%;
    float: left;
}

#calendar-edit {
    width: 40%;
    float: left;
    padding-top: 81px;
    padding-left: 5px;
}

#add-btn {
    float: left;
}

.btn.btn-primary, .btn.btn-outline-secondary {
    font-size: 10px;
    margin-left: 0px;
    width: 33%;
    padding: auto;
}

.col-md-4 {
    padding-left: 0px;
    padding-right: 0px;
}
