<br/>
  <div class="row">
    <form class="col s12" (ngSubmit)="onSubmit()" #loginForm=ngForm>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate" [(ngModel)]="user.email" name="email" required>
          <label class="label" for="email">Email</label>
          <small *ngIf="user.email && !validateEmail()" style="color:red; margin-top: 0px;">
            Incorrect Email Format
          </small>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <input id="password" type="password" class="validate" [(ngModel)]="user.password" name="password"  minlength=8 required>
          <label class="label" for="password">Password</label>
        </div>
      </div>
      <button type="submit" [disabled]="!(loginForm.valid)" style="background-color:#ffb300; margin-right:10px" class="btn btn-success right">Submit</button>
    </form>
  </div>
  <div class="row right" style="margin-right:22px">
    Need an account? <a [routerLink]="['/signup']">Click here to register</a>
  </div>
