<div *ngIf="email" class="row">
    <form class="col s12" #changePWForm="ngForm" (ngSubmit)="resetPassword()">
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <!-- <i class="material-icons prefix">lock</i> -->
          <input id="password" type="password" class="validate" [(ngModel)]="password" name="password" minlength=8 required>
          <label for="password" data-error="Passwords must be atleast 8 characters long">Password</label>
        </div>
      </div>
      <div class="row">
       <div class="input-field col s6 offset-m3">
          <!-- <i class="material-icons prefix">lock_outline</i> -->
          <input id="passwordConfirmation" type="password" class="validate" [(ngModel)]="passwordConfirmation" name="passwordConfirmation" required="password == passwordConfirmation">
          <small *ngIf="password != passwordConfirmation" style="color:red; margin-top: 0px;">
            Passwords must match
          </small>
          <label for="passwordConfirmation" style="margin-bottom: 20px">Confirm Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <input id="passwordCurrent" type="password" class="validate" [(ngModel)]="passwordCurrent" name="passwordCurrent" required>
          <label for="passwordCurrent" style="margin-bottom: 20px">New Password</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s6 offset-m3">
          <input id="resetPasswordToken" type="text" class="validate" [(ngModel)]="resetPasswordToken" name="resetPasswordToken" required>
          <label for="resetPasswordToken" style="margin-bottom: 20px">Reset Password Token</label>
        </div>
      </div>
      <button type="submit" [disabled]="!(changePWForm.valid) ||
          !(password == passwordConfirmation) ||
          !password || !passwordCurrent"
          class="waves-effect waves-light btn blue right">
        Submit
      </button>
    </form>
  </div>