<div class="aboutInfo">
	<h4>About</h4>
	<p>Housecall is a web application that uses state-of-the-art technology to connect caretakers of patients with doctors in order to ensure a healthy recovery for non-critical condition patients. </p>
    <hr style="">

	<h4>Use</h4>
	<p>For Doctors: Register for our application by signing up!</p>
	<p>For Patients: You should receive an email link with information about logging into a temporary account if you register through your doctor. If you have not received this link, please contact your primary care provider to set one up.  </p>
    <hr style="">

    <h4>FAQs</h4>
    <p style="font-weight:'bold'">How to add a new patient:</p>
	<ul class="browser-default">
			<li>Doctors can add a new patient by first navigating to their Dashboard by clicking the dashboard icon in the nav bar.</li>
            <li>Next, select the 'Add A New Patient' button under Patient List.</li>
	</ul>

    <p style="font-weight:'bold'">How to update a Patient Description:</p>
	<ul class="browser-default">
			<li>A doctor can update their patient's description by navigating to their Dashboard by clicking the dashboard icon in the nav bar.</li>
            <li>Doctors must first select the patient they wish to view.</li>
            <li>Next, select the yellow pencil icon in the Patient Description box to begin editing the description text.</li>
            <li>Press the green checkmark icon to save the description.</li>
    </ul>

    <p style="font-weight:'bold'">How to use Notes:</p>
	<ul class="browser-default">
			<li>Navigate to your Dashboard by clicking the dashboard icon in the nav bar.</li>
            <li>Doctors must first select the patient they wish to view.</li>
            <li>To add a new note, enter a title and the note text in the textboxes under Add Note. Then press the 'Save' button to save.</li>
            <li>To edit an existing note, press the orange pencil icon on the right-hand side of the note you wish to edit. You can then modify the text and press the green check icon to save.</li>
            <li>To delete a note, press the red trash icon on the right-hand side of the note you wish to delete.</li>
            <li>To email a note to either your patient or doctor, press the white envelope icon on the right-hand side of the note you wish to email."</li>
	</ul>

    <p style="font-weight:'bold'">How to use Tasks:</p>
	<ul class="browser-default">
			<li>Navigate to your Dashboard by clicking the dashboard icon in the nav bar.</li>
            <li>Doctors must first select the patient they wish to view.</li>
            <li>A doctor can add a new task for their patient by typing the task in the textbox that says "Enter new task" and pressing the "Save" button below.</li>
            <li>A doctor can delete a task by pressing the red trash icon to the right of the task they wish to delete.</li>
            <li>A patient can check off a task once they have completed it by pressing the checkbox to the left of the task they have completed.</li>
            <li>Tasks will repeat daily so they will all be set to not completed every 24 hours.</li>
    </ul>

    <p style="font-weight:'bold'">How to use Calendar:</p>
	<ul class="browser-default">
			<li>Navigate to your Dashboard </li>
            <li>Doctors must first select the patient they wish to contact.</li>
            <li>You can add a new calendar event by pressing the "Add new" button.</li>
            <li>Enter the event title and description as well as the time and press the "Save" button to save the event or the "Delete" button to remove the event.</li>
            <li>You can edit existing events by clicking on the event in the calendar and pressing the "Save" button to save the event or the "Delete" button to remove the event.</li>
            <li>You can browse other months or weeks by pressing the different category buttons on the top of the calendar.</li>
    </ul>

    <p style="font-weight:'bold'">How to use Skype:</p>
	<ul class="browser-default">
			<li>Navigate to your Dashboard by clicking the dashboard icon in the nav bar.</li>
            <li>Doctors must first select the patient they wish to contact.</li>
            <li>A yellow chat icon will appear in the lower righthand corner of the screen. Click on that icon.</li>
            <li>A chat window should appear on the righthand side of the screen. If it prompts you to log in to Skype, do so.</li>
            <li>You can then type chat messages that will be sent to your doctor if you are a patient or the patient selected in your contact list if you are a doctor.</li>
            <li>You can upload documents to send by pressing the paperclip icon and browsing your directories.</li>
    </ul>

    <p style="font-weight:'bold'">How to update your profile information:</p>
	<ul class="browser-default">
			<li>Navigate to the Account Profile page by clicking the account profile icon in the nav bar.</li>
            <li>Click on the field you wish to edit and type the updated information.</li>
            <li>Press the "Submit" button on the bottom of the page to update and save.</li>
    </ul>

    <p style="font-weight:'bold'">How to logout:</p>
	<ul class="browser-default">
			<li>You can logout by pressing the "Logout" button on the right side of the top nav bar.</li>
    </ul>

</div>