<nav>
  <div class="nav-wrapper" style="background-color:#34515e">
    <a *ngIf="!(userService.userSignedIn$ | async)" [routerLink]="['login']" class="brand-logo"><i class="large material-icons">home</i>Housecall</a>
    <a *ngIf="(userService.userSignedIn$ | async) && userService.isDoctor()" [routerLink]="['doctor-dashboard']" class="brand-logo"> <i class="large material-icons">home</i>House Call</a>
    <a *ngIf="(userService.userSignedIn$ | async) && userService.isPatient()" [routerLink]="['patient-dashboard']" class="brand-logo"> <i class="large material-icons">home</i>House Call</a>
    <ul class="right">
      <li [hidden]="!((userService.userSignedIn$ | async) && userService.isDoctor())"><a materialize [routerLink]="['/doctor-dashboard']" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Dashboard"><i class="medium material-icons">dashboard</i></a></li>
      <li [hidden]="!((userService.userSignedIn$ | async) && !userService.isDoctor())"><a materialize [routerLink]="['/patient-dashboard']" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Dashboard"><i class="medium material-icons">dashboard</i></a></li>
      <li [hidden]="!(userService.userSignedIn$ | async)"><a materialize [routerLink]="['/profile']" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Account Profile"><i class="medium material-icons">settings</i></a></li>
      <li><a materialize [routerLink]="['/about']" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="About" ><i class="large material-icons">info</i></a></li>
      <li [hidden]="!(userService.userSignedIn$ | async)"><a (click)="logOut()"><b>LOGOUT</b></a></li>
    </ul>
  </div>
</nav>
