

button.fa {
    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
}

button.fa.fa-pencil.fa-lg { 
    border:none;
    background:none;
    color: #dcad51;
}

button.fa.fa-trash-o {
    border:none;
    background:none;
    color: #C2474B;
}

button.fa.fa-check {
    color:#92D788;
    border:none;
    background:none;
}

button.fa.fa-envelope-o {
    border:none;
    background:none;
}

.icon {
    position: absolute;
    display: flex;
    right: 0px;
    padding: 10px;
}

.notes {
    display: flex;
    flex-direction: column;
    height: 600px;
    flex: 1 100%;
    margin: 15px;
}

.tableElement {
    background: whitesmoke;
    border: .6px solid #000;
    padding: 2px;
    margin: 1px;
    border-radius: 5px;
    position: relative;
    padding: 5px;
}

p {
    padding: 2px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.table-scroll {
    max-height:500px;
    width: 100%;
    overflow: auto; 
    margin-bottom: 5px;
    margin-top: 5px; 
}

textarea.newNoteTitle {
    height: 2rem;
    margin-top: 8px;
    padding: 4px;
    color:#dedede; 
    background-color:#607d8b ;
}

textarea.newNoteText {
    height: 10rem;
    padding: 5px;
    color:#dedede; 
    margin: 0.2rem 0 .4rem 0 !important; 
    background-color:#607d8b ;
}

.card .card-content {
    padding: 8px !important;
}