button.fa.fa-trash-o {
    border:none;
    background:none;
    color: #C2474B;
}

button.fa.fa-pencil.fa-lg {
    border:none;
    background:none;
    color: #dcad51;
}

button.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
}

table {
    padding:20px;
    margin: 3px;
}

.tableElement {
    background:#e6ecf1;
    border:.6px solid #000;
    padding: 2px;
    margin: 1px;
    border-radius: 5px;
}