<div class="notes">
    <p style="font-weight:bold; font-size: 20px">Notes:</p>
  <div class="table-scroll">
    <table id="table" class="table" name="notes" ngDefaultControl>
      <tr *ngFor="let note of notes">
        <div class="card" style="margin: 0.2rem 0 .4rem 0 !important; background-color:#607d8b;" id='tableElement-{{note.id}}'>
          <div class="card-content white-text" >
            <div class="icon">
              <button id='pencil-{{note.id}}' class="fa fa-pencil fa-lg" (click)='showIcon("pencil", note.id)'></button>
              <button id='check-{{note.id}}' style='display:none' class="fa fa-check fa-lg" (click)='showIcon("check", note.id); editNote(note.id); '></button>
              <button id='trash-{{note.id}}' display="block" class="fa fa-trash-o" (click)='deleteNote(note.id)'></button>
            </div>
            <div id='title-{{note.id}}' class="markdown-title" ng-model="note.title" style="font-size:20px;" 
              contenteditable="false">{{ note.title }}
            </div>
            <div id='text-{{note.id}}' class="markdown-text" ng-model="note.text" 
              contenteditable="false">{{ note.text }}
            </div>
          </div>
        </div>
      </tr>
    </table>
  </div>

  <form class="addNote" (ngSubmit)='saveNote()'>
      <p style="font-weight:bold; font-size: 20px">Add Note:</p>
        <textarea type="text" [(ngModel)]="newNoteTitle" name="newNoteTitle" class="newNoteTitle" placeholder="New note title"></textarea>
        <textarea type="text" [(ngModel)]="newNoteText" name="newNoteText" class="newNoteText" placeholder="New note text"></textarea>    
      <button style="background-color:#ffb300" id="saveButton" type="submit" disabled=disabled class="btn btn-success">Save</button>
    </form>
</div>



