<div class="notes">
    <p style="font-weight:bold; font-size: 20px">Notes</p>
  <div class="table-scroll">
    <table class="table" [(ngModel)]= "notes" name="notes" ngDefaultControl>
      <tr *ngFor="let note of notes">
        <div class="tableElement">
            <p style="font-weight:bold;">{{note.title}}</p>
            <p>{{note.text}}</p>
            <div class="icon">
              <button class="fa fa-pencil fa-lg" (click)="editNote(note.id)"></button>
              <button class="fa fa-trash-o" (click)='deleteNote(note.id)'></button>
            </div>
        </div>
      </tr>
    </table>
  </div>

  <form class="addNote" (ngSubmit)='saveNote()'>
    <textarea class="noteTitle" [(ngModel)]="newNoteTitle" name="noteTitle" placeholder="New note title"></textarea>
    <textarea class="noteText" [(ngModel)]="newNoteText" name="noteText" placeholder="New note text"></textarea>  
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>